        <!--##begin-->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="display: none;">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar">a</span>
                      <span class="icon-bar">s</span>
                      <span class="icon-bar">f</span>
                    </button>
                    <a class="navbar-brand" href="#">Project name</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <form class="navbar-form navbar-right" role="form">
                        <div class="form-group">
                            <input type="text" placeholder="Email" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="password" placeholder="Password" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-success">Sign in</button>
                    </form>
                </div><!--/.navbar-collapse -->
            </div>
        </nav>

        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron">
            <div class="container">
                <h1>Hello, world!</h1>
                <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
                <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
            </div>
        </div>

        <div class="container">
            <!-- Example row of columns -->
            <div class="row">
                
                <div class="col-md-12">

                    <h2>Listen-Test</h2>

                    <ul class="list-nested">
                        <li class="list-head">
                            <div class="list-label toggle-list" data-value="2" data-type="publisher">
                                <span class="fa fa-caret-right list-toggle-marker"></span>
                                Cross Cult
                            </div>
                            <ul>
                                <li class="list-sub-head">
                                    <div class="list-label toggle-list" data-value="2::Geschichten aus dem Hellboy Universum" data-type="title">
                                        <span class="fa fa-caret-right list-toggle-marker"></span>
                                        Geschichten aus dem Hellboy Universum
                                    </div>
                                    <ul>
                                        <li class="list-item">
                                            <a href="#details" class="list-item-nr">1000</a>
                                            <a href="#details" class="list-item-label">Untertitel</a>
                                            <span class="list-item-edit">
                                                <a href="#edit" class="fa fa-pencil"></a>
                                                <a href="#delete" class="fa fa-trash"></a>
                                            </span>
                                        </li>
                                        <li class="list-item">
                                            <a href="#details" class="list-item-nr">1</a>
                                            <a href="#details" class="list-item-label">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</a>
                                            <span class="list-item-edit">
                                                <a href="#edit" class="fa fa-pencil"></a>
                                                <a href="#delete" class="fa fa-trash"></a>
                                            </span>
                                        </li>
                                        <li class="list-item">
                                            <a href="#details" class="list-item-nr">2</a>
                                            <a href="#details" class="list-item-label">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="list-sub-head">
                                    <div class="list-label toggle-list" data-value="2::Hellboy" data-type="title">
                                        <span class="fa fa-caret-right list-toggle-marker"></span>
                                        Hellboy
                                    </div>
                                    <ul>
                                        <li class="list-item">
                                            <a href="#details" class="list-item-nr">1</a>
                                            <a href="#details" class="list-item-label">Der Teufel erwacht</a>
                                        </li>
                                        <li class="list-item">
                                            <a href="#details" class="list-item-nr">2</a>
                                            <a href="#details" class="list-item-label">Untertitel</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="list-head">
                            <div class="list-label toggle-list" data-value="1" data-type="publisher">
                                <span class="fa fa-caret-right list-toggle-marker"></span>
                                Panini Deutschland
                            </div>
                            <ul>
                                <li class="list-sub-head">
                                    <div class="list-label toggle-list" data-value="1::Before Watchmen" data-type="title">
                                        <span class="fa fa-caret-right list-toggle-marker"></span>
                                        Before Watchmen
                                    </div>
                                    <ul>
                                        <li class="list-item">
                                            <span class="list-item-nr">1</span>
                                            <span class="list-item-label">Minutemen</span>
                                        </li>
                                        <li class="list-item">
                                            <span class="list-item-nr">2</span>
                                            <span class="list-item-label">Rorschach</span>
                                        </li>
                                    </ul>
                                </li>
                                <li class="list-sub-head">
                                    <div class="list-label toggle-list" data-value="1::Fables" data-type="title">
                                        <span class="fa fa-caret-right list-toggle-marker"></span>
                                        Fables
                                    </div>
                                    <ul>
                                        <li class="list-item">
                                            <span class="list-item-nr">1</span>
                                            <span class="list-item-label">Untertitel</span>
                                        </li>
                                        <li class="list-item">
                                            <span class="list-item-nr">2</span>
                                            <span class="list-item-label">Untertitel</span>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>














                  <h2>Verlage</h2>
                  <ul class="list-dark">
                      <!--##loop-publisher-->
                      <li class="list-head list-expanded1">
                          <div class="toggle-list" data-value="!{id}" data-type="publisher">
                            <span class="fa fa-caret-right toggle-marker"></span>
                            !{name}
                            <a class="edit-item" href="!{add_issue}"></a>
                            <a class="add-item" href="!{add_issue}"></a>
                          </div>
                          <ul>
                              <li class="list-sub-head">
                                    <div class="toggle-list" data-value="!{id}::hallo welt" data-type="title">
                                        <span class="fa fa-caret-right toggle-marker"></span>
                                        hallo welt
                                    </div>
                                    <ul>
                                        <li class="list-item">#1 hallo</li>
                                        <li class="list-item">#2 hallo</li>
                                        <li class="list-item">#3 hallo</li>
                                    </ul>
                              </li>
                              <li class="list-sub-head">
                                  <div>
                                        <a class="expand-item" href="!{add_issue}"></a>
                                        hallo welt
                                  </div>
                              </li>
                          </ul>
                      </li>
                      <!--##cont-->
                  </ul>
                </div>
          
                
          
          
            </div>

            <hr>
      
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Collapsible Group Item #1
                    </a>
                  </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                  <div class="panel-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                  <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      Collapsible Group Item #2
                    </a>
                  </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                  <div class="panel-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                  <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      Collapsible Group Item #3
                    </a>
                  </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                  <div class="panel-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                  </div>
                </div>
              </div>
            </div>

        </div> <!-- /container -->
          
        <script type="text/javascript">
            
            $( document ).ready(function() {
                
                $('.toggle-list').click(function() {
                    
                    // Variablen des Klick-Elements definieren
                    type = $(this).attr('data-type');
                    data = $(this).attr('data-value');
                    
                    // Daten aus LocalStorage holen
                    storElements = localStorage.getItem(type);
                    console.log ( storElements );
                    
                    if ( storElements !== null ) {
                        console.log ('Daten gespeichert');
                        elements = JSON.parse( storElements );
                    } else {
                        console.log ('keine Daten');
                        elements = new Array();
                    }
                    console.log (elements);
                    
                    console.log ( jQuery.inArray( data, elements ) );
                    
                    if ( jQuery.inArray( data, elements ) < 0 ) {
                        elements.push(data);
                        $(this).next().show();
                    } else {
                        elements.splice(jQuery.inArray( data, elements ),1);
                        $(this).next().hide();
                    }
                    $(this).find('.list-toggle-marker').toggleClass('fa-caret-right fa-caret-down');
                    console.log (unpackArr = JSON.stringify( elements ));
                    
                    localStorage.setItem(type, JSON.stringify( elements ));
                    

                })
                
                
                $.each([ 'publisher','title' ], function( index, dataType ) {
                    // Elemente aus LocalStorage holen
                    storElements = localStorage.getItem(dataType);
                    // Sind Element gespeichert?
                    if ( storElements !== null ) {
                        elements = JSON.parse( storElements );
                        console.log (elements);
//                        $('[data-type="' + value + '"][data-value="' + value + '"]')
                        $.each( elements, function( key, dataValue ) {
                            console.log ( '[data-type="' + dataType + '"][data-value="' + dataValue + '"]' );
                            $('[data-type="' + dataType + '"][data-value="' + dataValue + '"]').next().show();
                            $('[data-type="' + dataType + '"][data-value="' + dataValue + '"]').find('.list-toggle-marker').toggleClass('fa-caret-right fa-caret-down');
                        });
                    }
                });
                
                
            })
            
        </script>
<!--##end-->