        <!--##begin-->

        <!-- Main jumbotron for a primary marketing message or call to action -->

        <div class="container">
            <!-- Example row of columns -->
            <div class="row">

                <div class="page-header">
                    <h1>Heft-Übersicht <small>Neue Ausgaben eingeben</small></h1>
                </div>

                <div class="col-md-12 well1">
                    <form class="form-horizontal form-card" method="post" action="!#ausgaben_form_aktion">

                        <fieldset class="well1">

                            <legend>Grunddaten</legend>

                            <!--##hide-form_error-->
                            <div class="form-group col-sm-12">
                                <ul>
                                    <!--##loop-form_error-->
                                    <li>!{text}</li>
                                    <!--##cont-->
                                </ul>
                            </div>
                            <!--##show-->

                            <div class="form-group !#ausgaben_class_publisher">
                                <label for="publisher" class="col-lg-2 control-label">Verlag</label>
                                <div class="col-lg-10">
                                    !#element_publisher
                                    <span class="help-block">!#ausgaben_text_publisher</span>
                                </div>
                            </div>

                            <div class="form-group !#ausgaben_class_issue_title">
                                <label for="issue_title" class="col-lg-2 control-label">Titel</label>
                                <div class="col-lg-10">
                                    !#element_issue_title
                                    <span class="help-block">!#ausgaben_text_issue_title</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class=" !#ausgaben_class_issue_number">
                                    <label for="issue_number" class="col-lg-2 control-label">Nummer</label>
                                    <div class="col-lg-4">
                                        !#element_issue_number
                                        <span class="help-block">!#ausgaben_text_issue_number</span>
                                    </div>
                                </div>
                                <div class=" !#ausgaben_class_issue_number_range">
                                    <label for="issue_number_range" class="col-lg-2 control-label">bis</label>
                                    <div class="col-lg-4">
                                        !#element_issue_number_range
                                        <span class="help-block"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="issue_subtitle" class="col-lg-2 control-label">Untertitel</label>
                                <div class="col-lg-10">
                                    !#element_issue_subtitle
                                    <span class="help-block"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-lg-10 col-lg-offset-2">
                                    <button type="submit" name="send" value="send" class="btn btn-primary">Speichern</button>
                                    <button type="reset" class="btn btn-default">Abbrechen</button>
                                </div>
                            </div>

                        </fieldset>

                    </form>

                </div>



            </div>

            <hr>


        </div> <!-- /container -->

        <script type="text/javascript">
        // /api/json/publisher.html?q=%QUERY'



                    $( "#publisher" ).autocomplete({
                        source: function( request, response ) {
                            $.getJSON(
                                '/api/json/publisher.html',
                                {
                                    q: request.term
                                },
                                response
                            );
                        },
                        minLength: 2,
                        select: function( event, ui ) {
                            $('[name="publisher_id"]').val(ui.item.id);
                        }
                    });

                    $( ".title-ac" ).autocomplete({
                        source: function( request, response ) {
                            $.getJSON(
                                '/api/json/title.html',
                                {
                                    q: request.term
                                },
                                response
                            );
                        },
                        minLength: 2,
                        select: function( event, ui ) {
                            // $('[name="publisher_id"]').val(ui.item.id);
                        }
                    });

        </script>
<!--##end-->
