// Bootstrap
@import "bootstrap";
@import "paper/bootswatch";
// Font-Awesome
@import "font-awesome";



@import "form-slider";

.form-card {
    background-color: $well-bg;
    border-radius: $border-radius-base;
    //box-shadow: 5px 5px 20px 0px rgba(115,115,115,0.35);
    @include box-shadow(1px 1px 4px rgba(0,0,0,.4));
    legend {
        border-top-left-radius: $border-radius-base;
        border-top-right-radius: $border-radius-base;
        background: darken($well-bg, 10%);
        padding: 4px 8px;
    }
}

.ui-autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    display: none;
    min-width: 160px;
    _width: 160px;
    padding: 4px 0;
    margin: 2px 0 0 0;
    list-style: none;
    background-color: #ffffff;
    border: 1px solid $input-border;
    border-radius: $input-border-radius;
    @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    *border-right-width: 2px;
    *border-bottom-width: 2px;

    .ui-menu-item /*> a.ui-corner-all*/ {
        display: block;
        padding: $padding-base-vertical $padding-base-horizontal;
        clear: both;
        font-weight: normal;
        line-height: $line-height-base;
        color: #555555;
        white-space: nowrap;

        &.ui-state-hover, &.ui-state-focus, &.ui-state-active {
          color: #ffffff;
          text-decoration: none;
          background-color: #0088cc;
          border-radius: 0px;
          -webkit-border-radius: 0px;
          -moz-border-radius: 0px;
          background-image: none;
        }
    }
}
